<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h1>Nouvelle demande de devis</h1>

    <p>Vous avez reçu une nouvelle demande de devis de la part de <strong>{{ user.prenom }} {{ user.nom }}</strong>.</p>
    <p>Email du client : <strong>{{ user.email }}</strong></p>
    <p>Événement prévu du : <strong>{{ panier.dateLocation ? panier.dateLocation|date('d/m/Y') : 'Non renseigné' }}</strong> au <strong>{{ panier.dateFinLocation ? panier.dateFinLocation|date('d/m/Y') : 'Non renseigné' }}</strong></p>
    <p>Adresse : <strong>{{ panier.adresseLocation ?? 'Non renseignée' }}</strong></p>

    <h2>Récapitulatif du matériel demandé :</h2>
    <table border="1" cellpadding="8" cellspacing="0">
        <thead>
            <tr>
                <th>Matériel</th>
                <th>Référence</th>
                <th>Quantité</th>
            </tr>
        </thead>
        <tbody>
            {% for pm in panier.panierMateriel %}
            <tr>
                <td>{{ pm.materiel.libelle }}</td>
                <td>{{ pm.materiel.reference }}</td>
                <td>{{ pm.quantite }}</td>
            </tr>
            {% endfor %}
        <p>
            <a href="{{ absolute_url(path('admin_devis_detail_custom', {id: devis.id})) }}">
                 Cliquez ici pour traiter ce devis
            </a>
        </p>    
        </tbody>
    </table>
</body>
</html>