{% extends 'base.html.twig' %}

{% block title %}Galerie — MpSonorisation{% endblock %}

{% block body %}

<div class="container py-5">

    <h1 class="text-center fw-bold mb-5">Galerie</h1>

    <div class="row g-3">

        <div class="col-md-4 col-6 overflow-hidden rounded">
            <a data-fancybox="gallery" href="{{ asset('images/imageback.jpg') }}">
                <img src="{{ asset('images/imageback.jpg') }}" alt="Photo 1" class="img-fluid rounded shadow-sm w-100 galerie-img">
            </a>
        </div>

        <div class="col-md-4 col-6 overflow-hidden rounded">
            <a data-fancybox="gallery" href="{{ asset('images/image0000001.jpg') }}">
                <img src="{{ asset('images/image0000001.jpg') }}" alt="Photo 2" class="img-fluid rounded shadow-sm w-100 galerie-img">
            </a>
        </div>

        <div class="col-md-4 col-6 overflow-hidden rounded">
            <a data-fancybox="gallery" href="{{ asset('images/image0000002.jpg') }}">
                <img src="{{ asset('images/image0000002.jpg') }}" alt="Photo 3" class="img-fluid rounded shadow-sm w-100 galerie-img">
            </a>
        </div>

        <div class="col-md-4 col-6 overflow-hidden rounded">
            <a data-fancybox="gallery" href="{{ asset('images/concert2.jpg') }}">
                <img src="{{ asset('images/concert2.jpg') }}" alt="Photo 4" class="img-fluid rounded shadow-sm w-100 galerie-img">
            </a>
        </div>

        <div class="col-md-4 col-6 overflow-hidden rounded">
            <a data-fancybox="gallery" href="{{ asset('images/IMG_5886.jpg') }}">
                <img src="{{ asset('images/IMG_5886.jpg') }}" alt="Photo 5" class="img-fluid rounded shadow-sm w-100 galerie-img">
            </a>
        </div>

        <div class="col-md-4 col-6 overflow-hidden rounded">
            <a data-fancybox="gallery" href="{{ asset('images/A7400557.jpg') }}">
                <img src="{{ asset('images/A7400557.jpg') }}" alt="Photo 6" class="img-fluid rounded shadow-sm w-100 galerie-img">
            </a>
        </div>

        <div class="col-md-4 col-6 overflow-hidden rounded">
            <a data-fancybox="gallery" href="{{ asset('images/A7400546.jpg') }}">
                <img src="{{ asset('images/A7400546.jpg') }}" alt="Photo 7" class="img-fluid rounded shadow-sm w-100 galerie-img">
            </a>
        </div>

        <div class="col-md-4 col-6 overflow-hidden rounded">
            <a data-fancybox="gallery" href="{{ asset('images/A7400544.jpg') }}">
                <img src="{{ asset('images/A7400544.jpg') }}" alt="Photo 8" class="img-fluid rounded shadow-sm w-100 galerie-img">
            </a>
        </div>

        <div class="col-md-4 col-6 overflow-hidden rounded">
            <a data-fancybox="gallery" href="{{ asset('images/492689744_1255356376591427_8285531509815011140_n.jpg') }}">
                <img src="{{ asset('images/492689744_1255356376591427_8285531509815011140_n.jpg') }}" alt="Photo 9" class="img-fluid rounded shadow-sm w-100 galerie-img">
            </a>
        </div>

        <div class="col-md-4 col-6 overflow-hidden rounded">
            <a data-fancybox="gallery" href="{{ asset('images/492455833_1255733566553708_6963761987924725478_n.jpg') }}">
                <img src="{{ asset('images/492455833_1255733566553708_6963761987924725478_n.jpg') }}" alt="Photo 10" class="img-fluid rounded shadow-sm w-100 galerie-img">
            </a>
        </div>

        <div class="col-md-4 col-6 overflow-hidden rounded">
            <a data-fancybox="gallery" href="{{ asset('images/492204040_1255356216591443_375466008946340170_n.jpg') }}">
                <img src="{{ asset('images/492204040_1255356216591443_375466008946340170_n.jpg') }}" alt="Photo 11" class="img-fluid rounded shadow-sm w-100 galerie-img">
            </a>
        </div>

        <div class="col-md-4 col-6 overflow-hidden rounded">
            <a data-fancybox="gallery" href="{{ asset('images/concet4.jpg') }}">
                <img src="{{ asset('images/concet4.jpg') }}" alt="Photo 12" class="img-fluid rounded shadow-sm w-100 galerie-img">
            </a>
        </div>

        <div class="col-md-4 col-6 overflow-hidden rounded">
            <a data-fancybox="gallery" href="{{ asset('images/5C2A1144.jpg') }}">
                <img src="{{ asset('images/5C2A1144.jpg') }}" alt="Photo 13" class="img-fluid rounded shadow-sm w-100 galerie-img">
            </a>
        </div>

        <div class="col-md-4 col-6 overflow-hidden rounded">
            <a data-fancybox="gallery" href="{{ asset('images/5C2A1024.jpg') }}">
                <img src="{{ asset('images/5C2A1024.jpg') }}" alt="Photo 14" class="img-fluid rounded shadow-sm w-100 galerie-img">
            </a>
        </div>

        <div class="col-md-4 col-6 overflow-hidden rounded">
            <a data-fancybox="gallery" href="{{ asset('images/5B4F0F05-8FD1-4EB0-ACB1-54D066094472.jpg') }}">
                <img src="{{ asset('images/5B4F0F05-8FD1-4EB0-ACB1-54D066094472.jpg') }}" alt="Photo 15" class="img-fluid rounded shadow-sm w-100 galerie-img">
            </a>
        </div>

    </div>
</div>

{% endblock %}